// Color vars
$color-one: #e0e0e0;
$color-two: #0053ab;
$color-three: #cacaca;
$color-background-one: $color-one;
$color-link: $color-two;

// Breakpoint vars
$bp-md: 768px;

// Spacing vars
$unit: 8px;

// Timing vars
$animation-timing-short: 250ms;

// Reusable animation mixins
@mixin animate-fade-in($duration) {
  animation: animate-fade-in $animation-timing-short linear forwards;
  transition: all $duration;

  @keyframes animate-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

// Link styling
a {
  color: $color-link;
}

// Table styling
table {
  min-width: $bp-md;
  width: 100%;
}

tr:hover {
  background-color: $color-background-one;
  transition: background-color $animation-timing-short linear;
}

.table__container {
  overflow-x: auto;
}

td.mat-cell {
  padding-left: $unit; // Overriding Angular Material styling
  padding-right: $unit; // Overriding Angular Material styling
  position: relative;
}

td:focus {
  outline: none;
}

.td__inner {
  align-items: center;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  left: 0;
  min-width: 60px;
  opacity: 0;
  padding-left: $unit;
  padding-right: $unit;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  @media (min-width: $bp-md) {
    min-width: 80px;
  }
}

.td__inner:hover,
td:focus .td__inner {
  background-color: $color-three;
  @include animate-fade-in($animation-timing-short);
}

.td__link-text {
  display: none;
  @media (min-width: $bp-md) {
    display: inline;
  }
}

.td__link-icon {
  display: inline;
  @media (min-width: $bp-md) {
    display: none;
  }
}
