$color-one: #cdcdcd;
$color-background-one: $color-one;
$bp-md: 768px;
$unit: 8px;

// Timing vars
$animation-timing-short: 0.5s;
$animation-timing-default: 1s;
$animation-timing-long: 2s;

// Transition vars
// $transition-timing-default: 0.5s;
// $transition-timing-long: 1s;

// Reusable animation mixins
@mixin animate-fade-in($duration) {
  // animation: animate-fade-in $animation-timing-short linear forwards;
  animation: animate-fade-in $animation-timing-short linear forwards;
  // transition: all $duration 1s;
  transition: all $duration;

  @keyframes animate-fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

table {
  min-width: $bp-md;
  width: 100%;
}

tr:hover {
  background-color: $color-background-one;
}

.table__container {
  // border: 3px solid red;
  overflow-x: auto;
}

td {
  padding-left: $unit;
  position: relative;
}

.td__link {
  align-items: center;
  // background-color: yellow;
  bottom: 0;
  display: inline-flex;
  // justify-content: center;
  left: 0;
  opacity: 0;
  // pointer-events: none;
  padding-left: $unit;
  position: absolute;
  right: 0;
  top: 0;
  // @include animate-fade-in($animation-timing-default);
}

.td__link:hover {
  // opacity: 1;
  background-color: yellow;
  @include animate-fade-in($animation-timing-short);
  // pointer-events: initial;
}